.bikeprofile-main-cont {
    background-color: white;
    padding: 0;
    margin: 0;
}

.bike-profile {
    --background: #25A244 ;
    height: 120%;
}

.bikeprofile-title {
    color: white;
    font-size: 140%;
    margin-top: 3%;
}

.back-btn {
    --color: white;
    margin-top: 5%;
}

.back-btn {
    margin-left: 2%;
}

.back-btn:active {
    transform: scale(0.9); 
}

.setup-profile {
    margin-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.details-bike-txt {
    /* border: solid; */
    margin-top: 20%;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 120%;
}

.edit-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    margin-bottom: 75px;
}

.edit-profile div {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

ion-text {
    align-self: flex-start;
    font-size: 1.25rem;
    margin-bottom: 2%;
}

ion-button.save-button {
    font-weight: 900;
    width: 200px;
    /* border: solid; */
    --background: #92E6A7;
    --border-radius: 10px;
    color: #1C6B2F;
    --background-activated: #4AD66D;
    --box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

ion-input.edit-key-input {
    width: 300px;
    color: #126B2F;
    --background: #92E6A7;
    --border-radius: 10px;
    text-align: center;
    font-style: italic;
}