.bikeprofile-main-cont {
    background-color: #eeeeee;
}

.bike-profile {
    --background: #25A244 ;
    height: 120%;
}

.bikeprofile-title {
    color: white;
    font-size: 140%;
    margin-top: 3%;
}

.back-btn {
    color: white;
    margin-top: 5%;
}

.back-btn {
    margin-left: 2%;
}

.back-btn:active {
    transform: scale(0.9); 
}