
.fgt-pw {
    background-image: url('../assets/bg-register-forgotpw.svg');
    background-size:cover;
    background-position: center;
}
.text-container {
    /* border: solid, green; */
    height: 25%;
    margin-top: -15%;
}
.container {
    /* border: solid; */
    transform: translateY(-40%);
    height: 240px;
    
}
.login-button {
    margin-top: 10%;
}

.login-button img {
    width: 100px;
}

.email-txtbox {
    margin-top: 10%;
    /* visibility:hidden; */

}

.icon-padding {
    padding-left: 5%;

}

.forgot-pw-text {
    text-align: center;
    color: #25A244;
    font-size: 50px;
    font-weight:bolder;
    margin-bottom: 5%;
    /* margin-top: -20%; */
    /* border: solid; */
}

.forgot-password-note {
    text-align: center;
    color: #25A244;
    font-weight: lighter;
    /* border: solid; */
    /* margin-top: -30%; */
}
