
.login-button {
    margin-top: 10%;
}

.email-txtbox {
    margin-top: 10%;

}

.icon-padding {
    padding-left: 5%;

}

.forgot-pw-text {
    text-align: center;
    color: #25A244;
    font-size: 50px;
    font-weight:bolder;
    padding-bottom: 5%;
}

.forgot-password-note {
    text-align: center;
    color: #25A244;
    font-weight: lighter;
}

ion-input.lock-key-input {
    border:solid;
    width: 300px;
    padding-right: 100%;
}