@import url("../theme/variables.css");

.container {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: '100vh';
}


.text-group {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

ion-text h4 {
    font-weight: lighter;
    font-style: italic;
    color: #4AD66D;
}



ion-button.get-started-button {
    margin-top: 20px;
    --border-radius: 8px;
    --background: #25A244;
    width: 300px;
    
}