@import url("../theme/variables.css");


.home-main-cont {
    background-color: #FFFFFF;
}
.container {
    transform: translate(0, 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.logo {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    margin-top: 50%;
    /* justify-content: center; */
}

.text-group {
    /* display: flex;
    flex-direction: column; */
    text-align: center;
    
}

ion-text h4 {
    font-weight: lighter;
    font-style: italic;
    color: #4AD66D;
}

ion-button.get-started-button {
    margin-top: 20px;
    --border-radius: 8px;
    width: 290px;
    height: 45px;
    --background: #25A244;
}

.txt-btn-grp {
    /* border: solid, red; */
    transform: translateY(10%);
}

ion-button.get-button {
    margin-top: 10%;
    width: 300px;
    height: 90px;
    /* border: solid; */
    --background: #92E6A7;
    --border-radius: 10px;
    color: #1C6B2F;
    --background-activated: #4AD66D;
    --box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.get-button img {
    width: 150px;
}