@import url("../theme/variables.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


.content-container {
    display: flex;
    flex-direction: column;
}


.div-container {
    
    /* position: absolute;   */
    /* top: 50%;            
    left: 50%;            */
    /* transform: translate(-50%, -50%);  */
    width: 100%;          
    /* max-height: 100%;     */
    /* overflow: hidden;    
    display: flex;
    flex-direction: column; */
}

.welcome-text {
    display: flex;
    align-items: center;
    /* border: solid; */
    justify-content: center;
    margin: 7% 0 5% 0;
    
}
