* {
    font-family: 'Poppins', sans-serif;
    
}

.login-form {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    /* background-color: #fffff0; */
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    
}

.main-container {
    background-image: url('../assets/bg-login.svg');
    background-size:cover;
    background-position: center;
}
.login-list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    /* border: solid; */
    
}

ion-item {
    --ion-item-background: none;
}

ion-input.lock-key-input,
ion-input.password-input {
    width: 300px;
    color: #126B2F;
    --background: #92E6A7;
    --border-radius: 10px;
}

.input-fill-outline.input-shape-round {
    --border-radius: 10px;
    
  }

ion-button.login-button {
    width: 300px;
    height: 20px;
    /* border: solid; */
    --background: #92E6A7;
    --border-radius: 10px;
    color: #1C6B2F;
    font-size: 180%;
    font-weight: bolder;
    --background-activated: #4AD66D;
    --box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}


.login-btn {
    margin-top: -8%;
    padding-top: 0;
    /* border: solid, red; */
    

}

.logo-title {
    margin-top: -15%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;
    justify-content: center;
}

.icon-padding {
    padding-left: 1%; 
}
.login-options {
    width: 290px;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    /* border: 1px solid #000000;  */
}


.forget-password-link {
    font-size: small;
    /* padding-left: 10%; */
    white-space: nowrap; 
    overflow: hidden;
    color: #1C6B2F !important;
    margin-top: -10%;
    /* background-color: #778899; */
}

.link-forgot, .link-signup {
    color: #1C6B2F;
}

ion-checkbox.checkbox{
    color:#92E6A7;
    font-size: small;
    margin-top: -10%;
    /* --color-checked: #1C6B2F; 
    --color: #B0BEC5;         
    --background-checked: #E8F5E9; */
    /* background: #fffff0; */
}
ion-text {
    font-weight: bolder;
}

.signup-options {
    display: flex;           
    align-items: center;     
    justify-content: center; 
    /* border: solid;   */
    margin-top: -3%;
    transform: translateY(-60%);
}

ion-text.dont-have-account{
    color: #92E6A7;
}

.dont-have-account, .signup-link {
    display: flex;         
    align-items: center;     
    margin: 0 3px;      
    font-size: small;    
}

.signup-link {
    margin-right: 0;        
}




/* Adjust margin for smaller screens */
@media (max-width: 768px) { /* Targets tablets and smaller devices */
    .forget-password-link {
        margin-left: 5px; /* Slightly less margin on smaller devices */
    }
}

@media (max-width: 480px) { /* Targets mobile devices */
    .forget-password-link {
        margin-left: 2px; /* Minimal margin on very small screens */
    }
}

