ion-menu.main-sidebar-cont {
    background: transparent
}

.menu-content-sidebar {
    background-color: white;
    height: 100%;
    display: flex;
}
ion-item.my-bike , ion-item.ride-history, ion-item.about, ion-item.log-out-btn {
    background-color: #ffffff;
    font-size: 1.5rem;
    font-weight: bolder;
    width: 100%;
    /* border: solid, greenyellow; */
}

ion-item.log-out-btn {
    color: #25A244;
}
ion-list.item-list {
    background: white;
    width: 100%;
    display: flex;
    justify-content: center;
    row-gap: 9vh;
    align-items: start;
    flex-direction: column;

}

.my-bike img {
    margin-top: 20%;
    margin-bottom: 5%;
    width: 130px;
    background: white;
}
.ride-history img {
    margin-top: 20%;
    margin-bottom: 5%;
    width: 210px;
    background: white;
}

.about img {
    margin-top: 20%;
    margin-bottom: 5%;
    width: 110px;
    background: white;
}
.log-out-btn img {
    margin-top: 20%;
    margin-bottom: 5%;
    width: 140px;
    background: white;
    padding-left: 5px;
}

.menu-icon {
    color: #25A244;
}

.legal-info {
    /* position: absolute; */
    font-size: 1rem;
    font-weight: lighter;
    width: 100%;
    padding: 10px;
    background-color: white;
    color: #333; /* Text color */
  }

.legal-info .legal {
    font-weight: bolder;
    font-size: 1rem;
}

.version {
    font-size: 0.9rem;
}

.dashboard-header {
    --background: #ffffff ;
    height: 120%;
}

.date-time {
    margin-top: 5%;
    font-weight: bold;
    position: sticky;
    margin-bottom: 2%;
}

.date-time-txt {
    font-weight: bolder;
    color: black;
    font-size: 0.9rem;
}